
$textAlignCenter: center;
$weightLetraLighter: lighter;
$colorWhiteSmoke:#F7EDF6;
$fontSizeBiografiaTextoSubtitulo: 1.3rem;

/* Biografia de Carrer */
.biografia__texto--subtitulo{text-align: $textAlignCenter; font-size: $fontSizeBiografiaTextoSubtitulo; font-weight: $weightLetraLighter; color: $colorWhiteSmoke;}
