/* Colores y Estilos */
$colorBody:#020C16;
$colorRosa: #EE93F2;
$colorWhiteSmoke:#F7EDF6;
$colorPink:#FB54E6;
$colorGris: grey; 
$colorVerde:#43E31B;
$backgoundImageFooter: linear-gradient(to bottom, #FB54E6, #000000);
$backgroundImage404: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);