$textAlignCenter: center;
$fontSizeTitleIntroduction: 2rem;
$weightLetraLighter: lighter;

.title__introduction {text-align: $textAlignCenter; font-size: $fontSizeTitleIntroduction; font-weight: $weightLetraLighter;}