$colorPetroleo:#020C16;
$colorVerde:#43E31B;
$colorWhiteSmoke:#F7EDF6;
$weightLetraLighter: lighter;
$textAlignCenter: center;
$colorPink:#FB54E6;
$fontSizeTitularInicial: 24px;
$paddingGeneralUtilizado: 0.5rem;
$fontSizeTituloContainer: 1.5rem;
$fontSizeIntroductionModalidad: 2rem;
$directionRow: row;
$estilos: (color: #F7EDF6, centro: center);

.service__container--titularinicial{color: $colorWhiteSmoke; padding: $paddingGeneralUtilizado; font-size: $fontSizeTitularInicial; text-align: $textAlignCenter;}
.service__container--img{flex-direction: $directionRow;}
.titulo__container{font-size: $fontSizeTituloContainer; padding: $paddingGeneralUtilizado; color: $colorPetroleo;}
.titulo__container--texto{font-weight: $weightLetraLighter;}
.title__introduction--modalidad{text-align: $textAlignCenter; font-size: $fontSizeIntroductionModalidad; font-weight: bolder; color: $colorPink;}
.titulo__container--cards{ font-weight: $weightLetraLighter; font-size: $fontSizeTituloContainer; padding: $paddingGeneralUtilizado; color: $colorVerde;}
.titulo__container--cardss{ font-weight: bolder; font-size: $fontSizeTituloContainer; padding: $paddingGeneralUtilizado; color: $colorVerde;}
/* Map-get */
.titulo__container--texto {color: map-get($estilos , color); text-align: map-get($estilos, centro); padding: $paddingGeneralUtilizado;}
.card-text{font-weight: $weightLetraLighter;}
.contacto{font-weight: bolder;}
.title__introduction{font-weight: bolder;}