$letraBody: 'Poppins';
$vista:desktop;
$weightLetraBold: bold;
$weightLetraLighter: lighter;
$fontSizeGeneral: 22px;
$textAlignCenter: center;
$alignItemsCenter: center;
$valorCero: 0;
$valorSolid: solid;